<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Some game with buttons</title>
    <script src="../scripts/main.js"></script>
</head>
<body onload="main()">
    <h1 class="title panel panel-default">SOME GAME WITH BUTTONS</h1>
    <div class="main">

        <div class="hud panel panel-default field">
            <span class="score-label badge">Time: </span>
            <span id="time" class="time-label badge">60</span>
            <span class="score-label badge">HP: </span>
            <span id="hp" class="score-label badge">10</span>
        </div>
        <div class="panel panel-default field main-field">
            <div class="btn-container">
                <button id="b1" type="button" class="btn btn-primary button main-btn" onclick="clicked(id)">CLICK HERE</button>
            </div>
            <div class="btn-container">
                <button id="b2" type="button" class="btn btn-primary button main-btn" onclick="clicked(id)">CLICK HERE</button>
            </div>
            <div class="btn-container">
                <button id="b3" type="button" class="btn btn-primary button main-btn" onclick="clicked(id)">CLICK HERE</button>
            </div>
            <div class="btn-container">
                <button id="b4" type="button" class="btn btn-primary button main-btn" onclick="clicked(id)">CLICK HERE</button>
            </div>
        </div>
           <button type="button" id="start-game-btn" class="btn btn-success start-button" onclick="startGame(); myTimer = setInterval(timer, 1000)">START THE GAME</button>
          <div class="panel panel-default" id="result-panel">
              <p class="title" id="result">WON/LOSE</p>
               <button id="playagainbtn" type="button" class="btn btn-success button" onclick="update();startGame(); myTimer = setInterval(timer, 1000)">PLAY AGAIN</button>
          </div>
    </div>
</body>
</html>