.title {
    text-align: center;
}

.main {
    margin: auto;
    text-align: center;
    width: 600px;
}

.field {
    text-align: center;
}

.button {
    margin: 10px 10px 10px 10px;
}

.hud {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.score-label {
    font-size: 20px;
}

.time-label {
    margin-right: 60px;
    font-size: 20px;
}

.start-button {
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.main-field {
    /*background-color: #adc4d8;*/
    padding-top: 30px;
    padding-bottom: 30px;
}

#result-panel {
    display: none;
    text-align: center;
    width: 600px;
}

#result {
    font-size: 24px;
    margin-top: 10px;
}

#playagainbtn {
    display: none;

}